body { 
    font-family: Arial; 
    padding: 20px; 
    max-width: 900px;
    margin: 0 auto; 

}

h1, h2 {
    text-align: center;
}

input, button { 
    padding: 8px; 
    margin: 5px; 
}
.contact { 
    border-bottom: 1px solid #ccc; 
    padding: 10px 0; 
}

.actions button { 
    margin-right: 5px; 
}

button {
    cursor: pointer;
}